.l-max {
  max-width: 1920px;
  margin: 0 auto;
}

.l-detail {
  max-width: 636px;
  margin: 0 auto;
  width: 100%;
}

.l-container {
  max-width: 1296px;
  margin: 0 auto;
}

@media (max-width: 574px) {
  .l-max,
  .l-detail {
    max-width: $mobile-w;
  }
}
